{% extends 'base.html' %} 
{% load static %}
 {% block content %}

<section class="section-pagetop bg">
  <div class="container">
    {% if 'search' in request.path %}
    <h2 class="title-page">Kết quả tìm kiếm</h2>
    {% else %}
    <h2 class="title-page">Cửa hàng</h2>
    {% endif%}
  </div>
</section>


<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_1"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Danh mục</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  {% for category in links %}
                  <li>
                    <a href="{{category.get_url}}"
                      >{{ category.category_name}}
                    </a>
                  </li>
                  {% endfor %}
                  <li>
                    <a href="{% url 'store' %}">Tất cả</a>
                  </li>
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group  .// -->
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_4"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Kích cỡ</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
              <div class="card-body">
                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> S </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> M </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> L </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> XL </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> 2XL </span>
                </label>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <!-- filter-group .// -->

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                data-toggle="collapse"
                data-target="#collapse_3"
                aria-expanded="true"
                class=""
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Khoảng giá</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min</label>

                    <select class="mr-2 form-control">
                      <option value="0">0 ₫</option>
                      <option value="50000">50.000 ₫</option>
                      <option value="100000">100.000 ₫</option>
                      <option value="150000">150.000 ₫</option>
                      <option value="200000">200.000 ₫</option>
                      <option value="500000">500.000 ₫</option>
                      <option value="1000000">1.000.000 ₫</option>
                    </select>
                  </div>

                  <div class="form-group text-right col-md-6">
                    <label>Max</label>
                    <select class="mr-2 form-control">
                      <option value="50000">50.000 ₫</option>
                      <option value="100000">100.000 ₫</option>
                      <option value="150000">150.000 ₫</option>
                      <option value="200000">200.000 ₫</option>
                      <option value="500000">500.000 ₫</option>
                      <option value="1000000">1.000.000 ₫</option>
                      <option value="2000000">2.000.000 ₫</option>
                    </select>
                  </div>
                </div>
                <button class="btn btn-block btn-primary">Tìm</button>
              </div>
            </div>
          </article>
        </div>
      </aside>
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">Tìm thấy {{ products|length}} sản phẩm</span>
          </div>
        </header>
        <!-- sect-heading -->

       
        <div class="row">
          {% if products %}
          {% for product in products %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <a href="{{ product.get_url }}"
                  ><img src="{{ product.image.url }}"
                /></a>
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{ product.get_url}}" class="title"
                    >{{product.product_name}}</a
                  >
                  <div class="price-wrap mt-2">
                    <span class="price">{{product.product_price}}</span>
                    <del class="price-old">{{product.product_price}}</del>
                  </div>
                  <!-- price-wrap.// -->
                </div>
                <a href="{{ product.get_url}}" class="btn btn-block btn-primary"
                  >Xem chi tiết
                </a>
              </figcaption>
            </figure>
          </div>
          {% endfor %}
          {% else %}
          <div class="col-md-12">
            <p>Không tìm thấy sản phẩm</p>
          </div>
          {% endif %}
        </div>

        <nav class="mt-4" aria-label="Page navigation sample">
          {% if products.has_other_pages %}
            <ul class="pagination">
              {# Nút Trước #}
              {% if products.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ products.previous_page_number }}">Trước</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Trước</span>
                </li>
              {% endif %}
      
        
              {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                  <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
        
              {# Nút Sau #}
              {% if products.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ products.next_page_number }}">Sau</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Sau</span>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </nav>
        
       
      </main>
    </div>
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock %}
