{% extends 'base.html'%} 
{% block content %}
<section class="section-conten padding-y" style="min-height: 84vh">

  <div class="card mx-auto" style="max-width: 380px; margin-top: 100px">
    <div class="card-body">
      <h4 class="card-title mb-4">Quên mật khẩu</h4>
      {% include 'includes/alerts.html'%}
      <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Nhập địa chỉ email của bạn"
            name="email"
            required
          />
        </div>
        <div class="form-group">
            <a href="{% url 'login' %}" class="text-right d-block">Đăng nhập</a>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Gửi yêu cầu
          </button>
        </div>
      </form>
    </div>
  </div>
  <p class="text-center mt-4">
    Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a>
  </p>
  <br /><br />
</section>
{% endblock %}
