{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8" />

  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>H2H</title>

  <link rel="shortcut icon" href="{% static 'images/logo_2.png' %}" type="image/x-icon" />

  <!-- JS trước (Bootstrap cần jQuery) -->
  <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <!-- CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <!-- Chọn 1 trong 2: local HOẶC CDN, đừng cả hai -->
  <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" rel="stylesheet" />
  {# <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" /> #}

  <link href="{% static 'css/ui.css' %}" rel="stylesheet" />
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

  <!-- Cache-busting cho custom -->
  <link href="{% static 'css/custom.css' %}?v=2025-09-12-1" rel="stylesheet" />

  <!-- PayPal -->
  <script src="https://www.paypal.com/sdk/js?client-id=AQLazLlsV9Dvvk559Ul7BlE4y8uoBa0qVf4BOaKuLCVV7DVVUoyj8i2UuZQot_UuHLfNDvSZ-8yiz-gv&currency=USD"></script>
</head>
{#<body>#}
{#  {% include 'includes/navbar.html' %}#}
{#  {% block content %}{% endblock %}#}
{#  {% include 'includes/footer.html' %}#}
{##}
{#  <script src="{% static 'js/script_2.js' %}"></script>#}
{#  <script>#}
{#    $(function() {#}
{#      setTimeout(function(){ $('.alert-autohide').fadeOut('slow'); }, 4000);#}
{#    });#}
{#  </script>#}
<body>
  {% if request.resolver_match.url_name != 'login' %}
    {% include 'includes/navbar.html' %}
  {% endif %}

  {% block content %}{% endblock %}

  {% if request.resolver_match.url_name != 'login' %}
    {% include 'includes/footer.html' %}
  {% endif %}

  <script src="{% static 'js/script_2.js' %}"></script>
  <script>
    $(function() {
      setTimeout(function(){ $('.alert-autohide').fadeOut('slow'); }, 4000);
    });
  </script>

</body>
</html>
