
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load currency %}
{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
  <div class="container">
    <div class="ratio ratio-21x9 rounded overflow-hidden">
      <img src="{% static 'images/banners/3.jpg' %}" class="w-100 h-100" style="object-fit:cover; object-position:center;" alt="Banner">
    </div>
  </div>
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Xem tất cả</a>
      <h3 class="section-title">Sản phẩm chung</h3>
    </header>

    <div class="row">
      {% for product in products %}
      <div class="col-md-4">  {# đồng bộ với trang store #}
        <div class="card card-product-grid">
          <a href="{{ product.get_url }}" class="img-wrap">
            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" />
          </a>
          <figcaption class="info-wrap">
            <div class="fix-height">
              <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
              <div class="price mt-1">{{ product.price|vnd}}đ</div>
            </div>
          </figcaption>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION  END// ========================= -->

{% endblock %}
